a {
  cursor: pointer;
}

blockquote {
  background-color: var(--oscurecer);
  margin: 15px;
  color: var(--blanco);
  border-left: 2px solid var(--violetaContraste);
  padding: 0.8em;
  font-style: italic;
}

hr {
  border: 1px solid var(--violetaContraste);
}

mark {
  background-color: #ae62ca;
  color: inherit;
}

ol {
  list-style-type: none;
  counter-reset: step-counter;
}

ol>li {
  margin-top: 10px;
  counter-increment: step-counter;
}

ul>li {
  list-style-type: "✦  ";
  margin-top: 8px;
  margin-left: 23px;
}

ul>li::before {
  margin-right: 10px;
  padding: 3px 8px;
}

ol>li::before {
  float: left;
  content: counter(step-counter) ".";
  margin-right: 10px;
  padding: 3px 8px;
  background-color: var(--oscurecer);

  border-radius: 10px;
  font-size: 85%;
  font-weight: bold;
  color: var(--blanco);
}

ol>li:first-child {
  counter-reset: counter(step-counter);
  content: counter(step-counter) "." counter(step-counter);
}

pre {
  background-color: rgba(35, 39, 46);
  color: var(--blanco);
  font-weight: 500;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

pre code {
  padding: 0;
  background: none;
  font-size: 0.8rem;
}


/* Custom CheckBox */

ul[data-type="taskList"] li {
  list-style: none;
  display: flex;
  margin-left: 3px;
}

ul[data-type="taskList"] p {
  margin-left: 8px;
}

li[data-checked="true"] p {
  text-decoration: line-through;
}

/* Estilo de Stephanie Eckles: https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--violetaCremado);

  font: inherit;
  color: var(--violetaContraste);
  width: 1.15em;
  height: 1.15em;
  border: 0.15px solid;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  margin-top: 1.5px;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--violetaContraste);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  background-color: var(--violetaContraste);
}

input[type="checkbox"]:focus {
  outline: 0;
}