:root {
  --blanco: #fff;
  --violetaCremado: #e190f2;
  --violetaCremadoTostado: #ce84dc;
  --violetaContraste: #7f1095;
  --rosaCremado: #ff67de;

  --oscurecer: rgba(0, 0, 0, 0.15);
  --oscurecerContraste: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: rgba(206, 107, 204, 0.644);
}

::-webkit-scrollbar {
  width: 12px;
}

:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.9);
}

::-webkit-scrollbar-corner {
  display: none;
  background-color: transparent;
}

body {
  height: 100vh;
  padding: 7px;

  background-color: var(--violetaCremado);

  display: flex;
  justify-content: space-between;

  -webkit-user-select: none;
  user-select: none;
}

#titulo {
  font-family: var(--chakra-petch-font);
  font-weight: 650;
  font-size: 35px;
  color: var(--violetaContraste);

  text-align: center;
  padding: 0.7rem;

  -webkit-user-select: none;
  user-select: none;
}
