.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Used to trick the browser to center the modal content properly  */
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.react-responsive-modal-modal {
  overflow-y: auto;
  max-width: 900px;
  margin: 1.2rem;
  padding: 1.2rem;

  -webkit-user-select: text;
  user-select: text;

  display: inline-block;
  text-align: left;
  vertical-align: middle;

  font-family: var(--quicksand-font);
  background: var(--blanco);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);

  border-radius: 15px;
}

.react-responsive-modal-modal h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin: auto;
  margin-bottom: 10px;
  padding: 0.5em;

  background-color: var(--violetaCremado);
  color: var(--blanco);
  border-radius: 20px;
}

.react-responsive-modal-modal p {
  text-align: justify;
  margin-top: 10px;
  padding: 5px;
}

.react-responsive-modal-modal br {
  margin-top: 20px;
  width: 20px;
  height: 20px;
  background-color: blue;
}

.react-responsive-modal-closeButton {
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.react-responsive-modal-closeButton:hover {
  background-color: var(--violetaCremado);
}

#image_demo {
  display: flex;
  margin: 15px auto 15px auto;
  border-radius: 5px;
}

figcaption {
  text-align: center;
  font-size: 15px;
  color: var(--violetaContraste);
}

footer {
  display: block;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 330px;
  margin: auto;
  margin-top: 30px;
  padding: 0.5em;

  background-color: var(--oscurecer);
  border-radius: 10px;
}

footer>a {
  text-decoration: none;
  font-weight: bold;
  transition: 0.25s ease-in-out;
}

footer>a:hover {
  color: var(--violetaCremadoTostado);
}

/* Used to fix a screen glitch issues with the animation see https://github.com/pradel/react-responsive-modal/issues/495 */
.react-responsive-modal-overlay,
.react-responsive-modal-container,
.react-responsive-modal-modal {
  animation-fill-mode: forwards !important;
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}
