#nota {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;

  width: 273px;
  height: 197px;
  min-width: 220px;
  min-height: 190px;
  max-width: 585px;
  max-height: 485px;
  padding-bottom: 0.5rem;

  background-color: var(--rosaCremado);
  color: var(--violetaContraste);

  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  resize: none;
  overflow: hidden;
}

#nota:hover, #nota:active {
  resize: auto;
}

#nota::-webkit-resizer {
  display: hidden;
  direction: rtl;
}

.activa {
  z-index: 100!important;
  position: relative;
}

.inactiva {
  z-index: 10!important;
  position: relative;
}

#barra_superior_nota {
  width: 100%;
  height: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 9px;

  background-color: var(--oscurecer);

  cursor: grab;
}

#barra_superior_nota:active {
  cursor: grabbing;
}

.barra_superior_button {
  font-family: var(--indie-flower-font);
  font-size: large;
  color: var(--blanco);
  

  -webkit-user-select: none;
  user-select: none;

  background-color: transparent;
  border: none;

  text-shadow: 1px 1px 2px var(--oscurecerContraste);
  transition: all 0.2s ease-in-out;
}

.barra_superior_button:hover {
  text-shadow: 0 0 2px var(--oscurecerContraste);
  cursor: pointer;
}

#lista_colores {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  margin: auto;
  margin-top: 3px;

  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2em;

  background-color: rgba(255, 255, 255, 0.532);
  border-radius: 8px;
}

.color_picker {
  width: 20px;
  height: 20px;
  border: 1px solid var(--violetaContraste);
  border-radius: 20px;

  cursor: pointer;
}